mixin caja(imagen, titulo, titulo2, contenido1, contenido2, contenido3, contenido4)
		.container 
			.card 	
				.face.face1 
					.content
						img(src="../img/carrusel"+imagen)
						h3=titulo
						h3=titulo2
				.face.face2 
					.content
						p=contenido1
						p=contenido2
						p=contenido3 
						p=contenido4
						a(href="") Leer Mas.. 
				